
@{
    ViewData["Title"] = "TempDataSample2";

    //string message = TempData["abc"].ToString();
    //int id = Convert.ToInt32(TempData["id"]);

    //TempData.Keep();

    string message = TempData.Peek("abc").ToString();
    int id = Convert.ToInt32(TempData["id"]);
}

<h1>TempDataSample2</h1>

@message
<br />
@id