
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>


<p>Umleitung zu Privacy-Seite</p>

<a asp-action="Privacy" asp-controller="Home">Goto Privacy</a>

