
@{
    ViewData["Title"] = "MultipleButtons2";
}

<h1>MultipleButtons2</h1>

<form>
   
    <br />
    <input type="submit" name="save" value="Save" formaction="/Home/SaveForm" formmethod="post" />
    <input type="submit" name="cancel" value="Cancel" formaction="/Home/CancelForm" formmethod="post" />
</form>

