
@{
    ViewData["Title"] = "MultipleButtons1";
}

<h1>MultipleButtons1</h1>

<form asp-controller="Home" asp-action="ProcessForm" method="post">
   
    <br />
    <input type="submit" name="submit" value="Save" />
    <input type="submit" name="submit" value="Cancel" />
</form>